{{> head }}
 {{> navbar }} 
 
    <div class="row">
        <div class="col-8">
            <h1>Capitán América</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum voluptates odio ab vero, excepturi, in sed alias explicabo atque porro, cumque voluptatem? Laudantium aut explicabo vel sapiente quod nostrum? Officiis?
            </p>
        </div>
        <div class="col-4">
            <img src="assets/images/capitan-america.png" alt="" class="img-thumbnail">
        </div>
    </div>

 {{> footer}}